/* App.css */
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f7f7f7;
}
.kanban-board {
    display: flex;
    flex-direction: column;  
  }
  
  .kanban-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .kanban-column {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 15px;
    width: 25%;
   
  }
  
  .ticket-card {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter-menu {
    margin-top:0px;
    margin-bottom: 20px;
    background-color: white;
    padding:20px;
    width:100%;
  }
  
  .filter-menu label {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  }
  
  .filter-menu select {
    padding: 5px;
   
  }

  .dropdown-btn
  {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
   
  }

  .dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}
 .dropdown-content
 {
    display: none;
    position: absolute;
    background-color: #f9f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: 5px;
    width: 280px; 
 }

 .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content label {
    font-size: 14px;
    margin-right: 50px; 
    white-space: nowrap; 
}


.dropdown-content select {
    flex-grow: 1;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin-left: 80px;
}

.dropdown-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
   width:100%;
}

.dropdown-content .dropdown-row:nth-of-type(2) label {
    font-size: 14px;
    margin-right: 62px; 
    white-space: nowrap;
}
