.row
{display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}

.row1
{

    display: flex; 
    justify-content: space-between;
    align-items: right;
}

.r1{
    margin-right:15px;
}
.add-ticket-btn
{
    border:none;
    padding:2px;
    background-color: #f7f7f7;
}